/*
[class^="box-"] {
    background-color: skyblue;
    border: 1px solid blue;
}
*/

.area {
    display: grid;
    width: 270px;
    height: 270px;    
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    background-color: rgb(154, 205, 50);
    padding: 10px;
}

.area__cell {
  display: flex;
  flex-direction: column;  
  background-color: skyblue;
  border: 1px solid blue;  
}

/*
  .box-one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .box-two {
    grid-column: 3;
    grid-row: 2;
  }
  .box-three {
    grid-column: 4;
    grid-row: 1 / 3;
  }
  */
