html {
  font-size: 18px; 
}

.area {
    display: grid;
    width: 270px;
    height: 270px;    
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    background-color: rgb(154, 205, 50);
    padding: 10px;
}

.area__cell {
  display: flex;
  flex-direction: column;  
  background-color: rgb(135, 206, 235);
  border: 1px solid blue;  

  cursor: pointer;
}

.area__cell-number {
  color: rgb(74, 153, 184);
  font-size: 0.8rem;
}

.area__cell-difficulty {
  color: blue;
  font-size: 0.8rem;
}


.area__cell-manager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(240, 230, 140);
  border: 1px solid rgb(189, 183, 107);

  --title-container-height: 20px;
  --form-height: 130px;
  --form-width: 200px;
}

.cell-manager__body {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;

  /*border: 1px solid black;*/
}

.cell-manager__cell-number-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  box-sizing: border-box; 
  height: var(--title-container-height);
  width: var(--form-width); 
}

.cell-manager__cell-number {
  padding-left: 3px;
  font-size: 1rem;
  color: rgb(146, 141, 69);/*brown;*/
}

.cell-manager__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  box-sizing: border-box;  
  height: var(--form-height); 
  width: var(--form-width); 
  margin: 0; /*Без этого вокруг формы появятся нежелательные отступы*/
  /*border: 1px solid red;*/
}

.cell-manager__form-title {
  font-size: 1.1rem; 
  color: brown;
}

.cell-manager__input-block {
  display: flex;
  flex-direction: column;
  align-items:flex-start; 
}

.cell-manager__input-description {
  font-size: 1rem;
  color: rgb(25, 25, 112);
}

.cell-manager__input_text {
  width: 90px; 
  height: 25px;
}

.cell-manager__closing-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: calc(var(--title-container-height) + var(--form-height));
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

.cell-manager__closing-icon {
  width: 10px;
  height: 10px;
  margin: 5px;
  cursor: pointer;
}

.area-manager {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-top: 5px;

  box-sizing: border-box;
}

.area-manager__title {
  font-size: 1.1rem; 
  font-weight: bold;
  color: black; 
  
  margin-top: 2px;
  margin-bottom: 2px;
}

.area-manager__button {
  width: 350px;
  font-size: 1rem;
}